*.ipynb
*.zip
classifier_scripts/*
classifier_scripts
classifier_scripts-*
*.txt
!requirements.txt
!docs/*.txt
sti_tagger.zip
*.h5
service_bandit_analysis.txt
.coverage
cover/*
scratch/*
set_path.sh
web.bfg-report
venv/*
.idea/*
data/*
__pycache__/*
in_data/*
out_data/*
data2/*
data/new_sti/*
data/sti/*
data/pmc/*
bert_models/*
bert_models/*
models/*
__pycache__/*
in_data/*
new_data/*
out_data/*
topic_bert/*
service/config/*
!service/config/default_config.py
!serivce/config/default_config.py
